{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'crudapp/style1.css' %}" rel="stylesheet">
    <link href="{% static 'crudapp/fontawesome-free-5.15.1/css/all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'crudapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'crudapp/css/bootstrap-theme.min.css' %}">
    <script src="{% static 'crudapp/css/jquery.min.js' %}"></script>
    <script src="{% static 'crudapp/css/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
function confirmDeleteModal(id){
    $('#deleteModal').modal();
	$('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData('+id+')">Delete</a>');
}
</script>
</head>
<body>
<div class="content" style="width:100%;">
    <a style="position:fixed;right:40px;top:20px;" href="{% url 'user_login' %}" class="btn btn-info btn-md">
        <i class="fas fa-sign-out-alt"></i> Logout
    </a>
    <div class="well">
        <button><a href="{% url 'user_login' %}"><i class="fa fa-sign-out" style="font-size:48px;color:#333;"></i></a></button>
        <table class="table table-bordered" style="width:100%;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Past Address</th>
                <th>Current address</th>
                <th>Phone Number</th>
                <th style="width: 200px;"></th>
            </tr>
            </thead>
            <tbody>
            {% for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.past_address}}</td>
                <td>{{i.present_address}}</td>
                <td>{{i.phone_number}}</td>
                <td>
                    <button class="btn btn-info"><a style="text-decoration:none;color:#fff;" href="{% url 'profile_update' %}"><i class="icon-pencil"></i>Edit</a></button>
                    <button type="button" class="btn btn-danger" onclick="confirmDeleteModal('112')">Delete</button>
                </td>
             {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete </h4>
            </div>
            <div class="modal-body">
                <p>Do You Really Want to Delete This ?</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <span id= 'deleteButton'></span>
            </div>

        </div>
    </div>
</div>
<div>
<br>
<br>
<button><a href="{% url 'profile_create' %}">Create</a></button>
    </div>
<!--Modal ends here--->
</body>
</html>